@media only screen and (min-width: 730px)
{
body,html
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
    .preloader {
  display: grid;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  align-items: center;
  justify-content: center;

}

#preload {
  position: fixed;
  background-color: #020024;
  height: 100vh;
  width: 100vw;
  z-index: 9999999;
  margin: 0;
  padding: 0;
}

.mobile {
  display: none;
}

.total {
  align-self: center;
  justify-content: center;
}

.speakers,
.forum {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}

.s1 {
  animation: example 500ms linear 1200ms 1 forwards;
}

.s2 {
  animation: example 500ms linear 1300ms 1 forwards;

}

.s3 {
  animation: example 500ms linear 1400ms 1 forwards;
}

.s4 {
  animation: example 500ms linear 1500ms 1 forwards;
}

.s5 {
  animation: example 500ms linear 1600ms 1 forwards;

}

.s6 {
  animation: example 500ms linear 1700ms 1 forwards;

}

.s7 {
  animation: example 500ms linear 1800ms 1 forwards;

}

.s8 {
  animation: example 500ms linear 1900ms 1 forwards;

}

.s9 {
  animation: example 500ms linear 2000ms 1 forwards;

}

.f1 {
  animation: example 500ms linear 1100ms 1 forwards;

}

.f2 {
  animation: example 500ms linear 1200ms 1 forwards;

}

.f3 {
  animation: example 500ms linear 1300ms 1 forwards;

}

.f4 {
  animation: example 500ms linear 1400ms 1 forwards;

}

.f5 {
  animation: example 500ms linear 1500ms 1 forwards;

}

.sf {
  padding: 20px;
  position: relative;
  margin-left: 1px;
  color: #ffd700;
  font-size: 56px;
}

.disappear {
  animation: vanish 1s forwards;
  animation-delay: 0s;
}

@keyframes vanish {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes example {

  0% {
    transform: rotateX(0deg);
  }

  25% {
    transform: rotateX(90deg);
  }

  50% {
    transform: rotateX(180deg);
  }

  75% {
    transform: rotateX(270deg);
  }

  100% {
    transform: rotateX(360deg);
  }
}
}
@media only screen and (max-width: 730px)
{
    body,html
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
    .preloader {
  display: grid;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  align-items: center;
  justify-content: center;

}

#preload {
  position: fixed;
  background-color: #020024;
  height: 100vh;
  width: 100vw;
  z-index: 9999999;
  margin: 0;
  padding: 0;
}

.mobile {
  display: none;
}

.total {
  align-self: center;
  justify-content: center;
}

.speakers,
.forum {
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}

.s1 {
  animation: example 500ms linear 1200ms 1 forwards;
}

.s2 {
  animation: example 500ms linear 1300ms 1 forwards;

}

.s3 {
  animation: example 500ms linear 1400ms 1 forwards;
}

.s4 {
  animation: example 500ms linear 1500ms 1 forwards;
}

.s5 {
  animation: example 500ms linear 1600ms 1 forwards;

}

.s6 {
  animation: example 500ms linear 1700ms 1 forwards;

}

.s7 {
  animation: example 500ms linear 1800ms 1 forwards;

}

.s8 {
  animation: example 500ms linear 1900ms 1 forwards;

}

.s9 {
  animation: example 500ms linear 2000ms 1 forwards;

}

.f1 {
  animation: example 500ms linear 1100ms 1 forwards;

}

.f2 {
  animation: example 500ms linear 1200ms 1 forwards;

}

.f3 {
  animation: example 500ms linear 1300ms 1 forwards;

}

.f4 {
  animation: example 500ms linear 1400ms 1 forwards;

}

.f5 {
  animation: example 500ms linear 1500ms 1 forwards;

}

.sf {
  padding: 5px;
  position: relative;
  margin-left: 1px;
  color: #ffd700;
  font-size: 30px;
  font-family: monty;
}

.disappear {
  animation: vanish 1s forwards;
  animation-delay: 0s;
}
@keyframes vanish {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes example {

  0% {
    transform: rotateX(0deg);
  }

  25% {
    transform: rotateX(90deg);
  }

  50% {
    transform: rotateX(180deg);
  }

  75% {
    transform: rotateX(270deg);
  }

  100% {
    transform: rotateX(360deg);
  }
}
}